<table border="1">
    <tbody>
    {% for key in keys %}
        {% for incident in incidents['incidents'][key] %}
        <tr>
            <td>{{ incident['line'] }} </td>
            <td>{{ incident['what'] }} </td>
            <td>
            {% if incident['stations'] %}

                <table>
                {% for station in incident['stations'] %}
                    <tr>
                        <td>{{ station['station'] }}</td>
                        <td>{{ station['time'] }}</td>
                    </tr>
                {%endfor %}
                </table>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

last update: {{ incidents['time_stamp'] }}
