<table border="1">
    <tbody>
    {% for incident in data['incidents'] %}
    <tr>
        <td>{{ incident['line'] }} </td>
        <td>{{ incident['what'] }} </td>
        <td>
        {% if incident['stations'] %}

            <table>
            {% for station in incident['stations'] %}
                <tr>
                    <td>{{ station['station'] }}</td>
                    <td>{{ station['time'] }}</td>
                </tr>
            {%endfor %}
            </table>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

last update: {{ data['time_stamp'] }}